*{
    background-color: aquamarine;
}
.img{
    height: 50%;
    border-radius: 5%;
    object-fit: cover;
    border-width: 10px;
    border-color: pink;
    border-style: solid;
}

.pwebsite{
    display: flex;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pwebsiteresume{
    padding: 15px;
    color: yellow;
    background-color: blanchedalmond;
}


/* 

this was also what i got from Jasmine. This breaks up the site into dividors, to put stuff where you want
look up the site cssgridgenerator to get this made for you lol

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; } */